// Bulma Overrides

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title{
  font-family: $family-primary;
  color: $grey-dark;
}

img{
  margin-bottom: 1rem;
}
// blockquote{
//   margin-left: 2rem;
//   border-left: .5rem solid $grey-dark;
//   padding-left: 1.5rem;
//   font-size: 2rem;
// }
p{
  margin-bottom: 1.5rem;
}
.navbar{
  z-index: 100;
}
.navbar-brand{
  .navbar-item{
    margin-left: 1rem;
  }
  svg{
    width: 6rem;
    height: 1.625rem;
    fill: white;
  }
}
.navbar-item{
  font-weight: bold;
}
.item-divider{
  color: lightgray;
  position: relative;
  top: .95rem;
}
.hero.is-light{ 
  color: $grey-dark;
  .title, .subtitle{
    color: $grey-dark;
  }
}

h1, h2{
  .bar {
    width: 2.1875rem;
    border: 0;
    border-bottom: 5px solid;
    margin-top: 1rem;
    text-align: left;
  }
  &.is-size-1 .bar{
    width: 3rem;
    border-bottom: .9rem solid;
  }
  &.is-size-2 .bar{
    width: 2.8rem;
    border-bottom: .5rem solid;
  }
}
blockquote{
  color: $grey-light;
  background-image: url(../images/blockquote.svg), url(../images/blockquote-right.svg);
  background-size: 3rem, 6rem;
  background-repeat: no-repeat;
  background-position: left 3rem top 5.8rem, right .7rem top 7rem;
  strong{
    color: whitesmoke;
    font-weight: bold;
  }
}
.delete, .modal-close{
  position: absolute;
  top: 5px;
  right: 5px;
}
.message-header p{
  margin-bottom: .5rem;
}
.card{
  box-shadow: 0px 2px 60px 0px rgba(160,179,198,0.47);
}
.card-content .image{
 clip-path: circle(49%);
 -webkit-clip-path: circle(49%);
}
.button{
  font-weight: bold;
}

// FIFTY CUSTOM CSS
#fifty-logo{
  width: 100%;
  display: block;
  margin: 0 auto;
}
.navbar-item{
  text-transform: uppercase;
}
.hero-body{
  background-image: url(/assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  @include responsive(medium-screens){
    height: 20rem;
  }
  @include responsive(wide-screens){
    height: 30rem;
  }
  @include responsive(ultra-wide-screens){
    height: 40rem;
  }
  @include responsive(extra-ultra-wide-screens){
    height: 50rem;
  }
}
.feature-wrap{
  background-color: $grey-light;
  padding-left: 2rem;
  padding-right: 6rem;
}
.feature{
  padding: 2rem 0 4rem 0;
  &--detail{
    background-color: white;
    padding: 2rem 3rem 3rem 2rem;
    width: 104%;
    position: relative;
    top: 2rem;
    img{
      width: 80%;
      display: block;
      margin: 0 auto 1rem auto;
    }
  }
}
// .details{
//   position: relative;
//   background-color: $grey-light;
//   height: 65rem;
//   max-width: 1200px;
//   margin: 0 auto;
//   @include clearfix;
//   @include responsive(wide-screens){
//     height: 67rem;
//   }
//   @include responsive(ultra-wide-screens){
//     height: 70rem;
//   }
//   &--detail{
//     position: absolute;
//     z-index: 10;
//     background-color: white;
//     min-height: 10rem;
//     width: 80%;
//     top: 17rem;
//     @include responsive(wide-screens){
//       top: 15rem;
//       width: 85%;
//     }
//     @include responsive(ultra-wide-screens){
//       top: 12rem;
//     }
//     left: 6rem;
//     padding: 2rem;
//   }
// }
// .detail-story{
//   height: 140rem;
//   @include responsive(wide-screens){
//     height: 110rem;
//   }
// }
.dai-box{
  border: 9px solid white;
  padding-top: 2rem;
  padding-left: 2rem;
  // width: 85%;
  // height: 70%;
  // position: absolute;
  // top: 3rem;
  // left: 3rem;
  // padding: 1rem;
}
.footer{
  background-color: $grey-dark;
}
iframe.timeline{

}