---
layout: default
---
<section class="hero bold artifact-detail">
  <div class="hero-body artifacts" style="background-image: url({{page.illustration}}) ;">
    <div class="container">
      
    </div>
  </div>
</section>


{%- comment -%} <section class="feature-wrap section">
  <div class="feature container" >
    <div class="dai-box">
      <h1 class="title is-size-4-mobile is-size-2-desktop">{{page.title}}
        <hr class="bar">
      </h1>
      <div class="feature--detail">
        {{content}}
        <div class="media full-attribution">
          <div class="media-left">
            <figure class="image is-50x50">
              <img src="{{page.person-image}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5">{{page.person}}</p>
            <p class="subtitle is-6">{{page.person-title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {%- endcomment -%}
<section class="section artifact-detail--body ">
  <div class="container">
    <h1 class="title is-size-4-mobile is-size-2-desktop">{{page.title}}
      <hr class="bar">
    </h1>
    {{content}}
    <div class="media full-attribution">
          <div class="media-left">
            <figure class="image is-50x50">
              <img src="{{page.person-image}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5">{{page.person}}</p>
            <p class="subtitle is-6">{{page.person-title}}</p>
          </div>
        </div>
  </div>
</section>
<div class="nav-control left">
{%- assign prev = page.index | minus:1 -%}
{%- assign prevThing = site.artifacts | where_exp:"thing", "thing.index == prev" -%}
{%- if prevThing.size > 0 -%}
  {%- for thing in prevThing -%}
  <a href="{{thing.url}}"><i class="fa fa-arrow-circle-left fa-5x" aria-hidden="true"></i></a>
  {%- endfor -%}
  {%- else -%}
  <a class="empty"><i class="fa fa-arrow-circle-left fa-5x" aria-hidden="true"></i></a>
{%- endif -%}
</div>


<div class="nav-control right">
  {%- assign next = page.index | plus:1 -%}
  {%- assign nextThing = site.artifacts | where_exp:"thing", "thing.index == next" -%}
  {%- if nextThing.size > 0 -%}
    {%- for thing in nextThing -%}
    <a href="{{thing.url}}"><i class="fa fa-arrow-circle-right fa-5x" aria-hidden="true"></i></a>
    {%- endfor -%}
  {%- else -%}
    <a class="empty"><i class="fa fa-arrow-circle-right fa-5x" aria-hidden="true"></i></a>
  {%- endif -%}
</div>