<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="twitter:image" content="https://dai-fifty.netlify.com/assets/images/social-image.jpg">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script type="text/javascript" src="/assets/js/site.js"></script>
    {% include svg-defs.html %}
  </head>
  <body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <svg viewBox="0 0 735 198" preserveAspectRatio="xMinYMax meet"><use xlink:href="#logo50"></use></svg>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class=" navbar-menu is-right is-primary">
    <div class="navbar-end" onclick="activeNav(event)">

      <a href="/fifty-things-grid" class="navbar-item {% if page.url contains "fifty-things"%}active-item {% endif %}">
        50 Things
      </a>
        <span class="item-divider">|</span>
      <a class="navbar-item">
        Our Mosaic
      </a>
        <span class="item-divider">|</span>
      <a href="/#timeline" class="navbar-item">
        History
      </a>
      <span class="item-divider">|</span>
      <a href="" class="navbar-item">
        Updates
      </a>
          {%- comment -%} <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Updates
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>       {%- endcomment -%}
    </div>
  </div>
</nav>
    {{ content}}
  <footer class="footer is-grey-dark">
    <div class="content has-text-centered">
      
    </div>
  </footer>
  </body>
</html>


